@font-face {
  font-family: 'HammersmithOne-Regular';
  src: local('HammersmithOne Regular'), local('HammersmithOne-Regular'),
    url('../fonts/hammersmithone/HammersmithOne-Regular.woff') format('woff'),
    url('../fonts/hammersmithone/HammersmithOne-Regular.woff2') format('woff2'),
    url('../fonts/hammersmithone/hammersmithone_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: local('PlayfairDisplay Black'), local('PlayfairDisplay-Black'),
    url('../fonts/playfair_display/playfairdisplay-black.ttf') format('truetype'),
    url('../fonts/playfair_display/PlayfairDisplay-Black.woff') format('woff'),
    url('../fonts/playfair_display/PlayfairDisplay-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: local('PlayfairDisplay Bold'), local('PlayfairDisplay-Bold'),
    url('../fonts/playfair_display/playfairdisplay-bold.ttf') format('truetype'),
    url('../fonts/playfair_display/PlayfairDisplay-Bold.woff') format('woff'),
    url('../fonts/playfair_display/PlayfairDisplay-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: local('PlayfairDisplay Regular'), local('PlayfairDisplay-Regular'),
    url('../fonts/playfair_display/playfairdisplay-regular.ttf') format('truetype'),
    url('../fonts/playfair_display/PlayfairDisplay-Regular.woff') format('woff'),
    url('../fonts/playfair_display/PlayfairDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto/roboto-black.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Black.woff') format('woff'), url('../fonts/roboto/Roboto-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto/roboto-light.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Light.woff') format('woff'), url('../fonts/roboto/Roboto-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/roboto/roboto-thin.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Thin.woff') format('woff'), url('../fonts/roboto/Roboto-Thin.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 14px;
}

.title {
  font-size: 22px;
  font-family: 'PlayfairDisplay-Bold';
  color: #413d4b;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn {
  font-family: 'HammersmithOne-Regular', sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  display: block;
  outline: none;
  cursor: pointer;
  color: rgb(0, 224, 208);
  border: 1px solid rgb(0, 224, 208);
  border-radius: 2px;
  background-color: transparent;
  padding: 14px;
  transition: all 0.2s linear;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover,
.btn:focus {
  color: rgb(253, 253, 253);
  background-color: rgba(0, 224, 208, 0.3);
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  color: #fff;
  position: relative;
}

.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 10px;
}

.logo__text {
  font-family: 'Roboto-Thin', sans-serif;
  font-size: 30px;
  background: linear-gradient(to right, #01decf, #4697bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s linear;
}

.logo:hover .logo__text {
  background: linear-gradient(to left, #01decf, #4697bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 25px;
}

.navigation__link {
  font-family: 'Roboto-Black', sans-serif;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  transition: color 0.2s linear;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #00e0d0;
}

.offer {
  padding-top: 205px;
  text-align: center;
}

.offer__title {
  font-family: 'PlayfairDisplay-Black', serif;
  font-size: 32px;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
}

.offer__title::after {
  content: '';
  display: block;
  height: 1px;
  width: 50px;
  background-color: #00e0d0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.offer__subtitle {
  line-height: 24px;
  letter-spacing: 0.05em;
  width: 785px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.offer__btn {
  margin-bottom: 205px;
}

.swiper-slide_one {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)),
    url('../images/slider/header/1.jpg') 50% 50% no-repeat;
}

.swiper-slide_two {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)),
    url('../images/slider/header/2.jpg') 50% 50% no-repeat;
}

.swiper-slide_three {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)),
    url('../images/slider/header/3.jpg') 50% 50% no-repeat;
}

.swiper-slide__four {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)),
    url('../images/slider/header/4.jpg') 50% 50% no-repeat;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 1px solid rgb(194, 194, 194);
  background-color: transparent;
  transition: all 0.2s linear;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 70px;
}

.swiper-pagination-bullet-active {
  border: 1px solid #00e0d0;
  background-color: #00e0d0;
}

section {
  padding-top: 70px;
}

.about-story .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 70px;
}

.about-story__img-wrap {
  width: 380px;
  padding-top: 15px;
}

.about-story__img-wrap img {
  margin: 0 auto;
}

.about-story__content-wrap {
  max-width: 540px;
  text-align-last: left;
}

.about-story__title {
  margin-bottom: 25px;
}

.about-content {
  color: rgba(65, 61, 75, 0.749);
  line-height: 1.571em;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
}

.about-content:nth-last-of-type(1) {
  margin-bottom: 30px;
}

.about-story__btn {
  margin-left: 0;
  margin-right: auto;
}

.about-watch {
  background: url('../images/about_bg.jpg') 50% 50% no-repeat;
}

.overlay {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.851) 0%, rgba(49, 29, 94, 0.851) 100%);
  width: 100%;
}

.about-watch__btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.about-watch__btn {
  margin-bottom: 30px;
}

.about-watch__btn:hover .outline,
.about-watch__btn:focus .outline {
  box-shadow: 0 0 5px #00e0d0;
  border: 3px solid #00e0d0;
}

.outline {
  padding-top: 22px;
  padding-left: 30px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 94px;
  height: 94px;
  transition: all 0.2s linear;
}

.play {
  width: 37px;
  height: 45px;
}

.about-watch__link {
  font-size: 16px;
  font-family: 'Roboto-Black';
  color: rgb(255, 255, 255);
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
  transition: color 0.2s linear;
}

.about-watch__link:hover,
.about-watch__link:focus {
  color: #00e0d0;
}

.expertize {
  padding-bottom: 68px;
}

.section__title {
  text-align: center;
  margin-bottom: 12px;
}

.section__subtitle {
  font-size: 14px;
  font-family: 'PlayfairDisplay-Regular';
  color: rgba(47, 45, 53, 0.749);
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.075em;
  margin-bottom: 47px;
}

.section__subtitle::after {
  content: '';
  display: block;
  height: 2px;
  width: 50px;
  background-color: rgb(65, 61, 75);
  opacity: 0.302;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

.expertize__list {
  display: grid;
  grid-template-columns: repeat(3, 313px);
  justify-content: center;
  /* grid-row-gap: 5px;
  grid-column-gap: 5px; */
}

.expertize__item {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 32px;
  padding-bottom: 38px;
  text-align: center;
  transition: all 0.2s linear;
}

.expertize__item:not(:nth-last-child(-n + 3)) {
  border-bottom: 1px solid #ebebeb;
}

.expertize__item:not(:nth-child(3n)) {
  border-right: 1px solid #ebebeb;
}

.expertize__item:hover,
.expertize__item:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.expertize__card-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.expertize__card-title {
  font-family: 'Roboto-Black';
  font-size: 14px;
  color: rgb(65, 61, 75);
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}

.expertize__card-subtitle {
  font-family: 'Roboto-Light';
  color: rgba(51, 51, 51, 0.749);
  line-height: 1.571;
}

.teams {
  padding-top: 0;
  color: #fff;
  background: url('../images/teams_bg.jpg') 50% 50% no-repeat;
  text-align: center;
}

.teams .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.teams__title {
  color: #fff;
}

.teams__subtitle {
  color: #f9f9f9;
}

.teams__subtitle::after {
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}

.teams__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.teams__cards-item {
  width: 220px;
  /* border: 1px solid rgba(225, 225, 225, 0.5); */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.teams__cards-img-wrap {
  height: 230px;
  overflow: hidden;
}

.teams__cards-img-wrap img {
  width: 100%;
}

.teams__cards-personal {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.teams__cards-name {
  font-size: 14px;
  font-family: 'Roboto-Black';
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

.teams__cards-position {
  font-family: 'Roboto-Light';
  font-size: 13px;
  color: rgba(250, 250, 250, 0.702);
}

.teams__descr {
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}

.works {
  padding-bottom: 70px;
}

.works__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}

.works__header h2 {
  color: rgb(65, 61, 75);
}

.works__header a {
  font-family: 'Roboto';
  color: rgb(65, 61, 75);
  letter-spacing: 0.05em;
  transition: all 0.2s linear;
}

.works__header a:hover {
  transform: translateX(3px);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.gallery__item {
  width: calc(100% / 6);
  height: 200px;
  overflow: hidden;
  border: 1px solid rgb(214, 214, 214);
}

.people {
  padding-top: 0;
  background: url('../images/people_bg.jpg') 50% 50% no-repeat;
  color: #fff;
}

/* ------ Media Queries ------ */

@media screen and (min-width: 1200px) {
}

/* 992-1200px */
@media screen and (max-width: 1200px) {
}

@media screen and (min-width: 993px) {
}

/* 768-992px */
@media screen and (max-width: 992px) {
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 769px) and (max-width: 992px) {
}

/* 577-768px */
@media screen and (max-width: 768px) {
}

/* 320-576px */
@media screen and (max-width: 576px) {
}

/* 320-479px */
@media screen and (max-width: 479px) {
}
